.dot {
  height: 140px;
  width: 140px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.brand {
  margin: 60px 20px 40px 20px;
  text-align: center;
  color: black;

}

.background {
  background-image: url("../Image/ITERbgimg.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  /*filter: grayscale(50%);*/
  /*opacity: 0.5;*/
}

.background > .card{
  width: 40vw;
  margin: 0px 30vw 10vh 30vw;
  padding-top: 10vh;
  background-color: rgba(255, 0, 0, 0);

}

h2{
  text-align: center;
}

.slide{
  padding: 60px;
}

#members .card{
  background-color: #E5E4E2;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#home img {
  width: 18%;
  height: auto;
}
.site-footer {
  background-color:  #FFFFFF;
	text-align: center;
	margin: 10px 0;
	padding: 10px 0;
}

#social-wrapper {
	text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
	text-align: center;
}

.social-wrapper ul li {
	display: inline;
	margin: 05px;
}

.twitter-icon,
.gmail-icon,
.linkedin-icon,
.github-icon,
.gdsc-icon,
.foursquare-icon{
	margin-top: .625em;
	width: 40px;
	height: 40px;
	opacity: .9;
	filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 25px;
}

.twitter-icon:hover,
.gmail-icon:hover,
.linkedin-icon:hover,
.github-icon:hover,
.gdsc-icon:hover,
.foursquare-icon:hover {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
	text-align: center;
}